html{
    max-width: 1920px;
    margin: 0 auto;
    width: auto;
}

body{
    font-family: 'Varela Round', sans-serif;
   position: relative;
}
.header{
    background-color: #f59b00;
    text-align: center;

}
.headertxt {
    margin-top: 100px;
    margin-bottom: -20px;
    color:#a56208;
    text-align: center;
    font-size: 2.5em;
}
.centralizar{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.imgheader{
    display:none;
}
.imageblockwhite{
    padding: 120px 40px 40px 120px;
}
.imageblockwhitepq{
    float: right ;
}
.blockwhite{
    padding: 60px 60px 40px 40px;
}
.blockwhitetitle{
    color:#f59b00;
    font-size: 1.8em;
}
.blockwhitetxt{
    padding-right: 80px;
    margin-top: -10px;
}
.trace{
    border-bottom: solid 5px #a56208;
    width: 200px;
    text-align: left;
    margin-bottom: 80px;
}
.tracecontato{
    border-bottom: solid 5px #f59b00;
    width: 200px;
    text-align: left;
    margin-bottom: 80px;
}
.blockorange{
    padding: 60px 60px 40px 140px;
}
.blockorangetitle{
    color:#a56208;
    font-size: 4em;
}
.blockorangetxt{
    padding-right: 80px;
    margin-top: -10px;
    font-size: 1.2em;
}
.imageblockorange{
    padding: 0px 40px 0px 10px;
    margin-bottom: -40px;
}
.sobre{
    max-width: 100%;
    padding:0;
}

.session2{
    background-color: #f59b00;
    color:#fff;
}
.topmenu img{
    padding: 40px 40px 40px 40px;
}
.topmenu{
    background-color: #fff;
    color:#000;
    margin-bottom: -30px;
}
.topmenu a{
    color:#000;
}
.topmenu a:hover{
    color:#f59b00;
}

.centralize{
    display: flex;
    align-items: center;
    justify-content: center ;}

.buttoncenter{
    text-align: center;
}
.buttonalign{
    text-align: left;
}
.btnheader{
    margin-bottom:200px;
    background-color: #f59b00;
    color:#a56208;
    border:solid 2px #a56208;
    padding: 10px 20px 10px 20px;
    font-size: 1.5em;
    cursor:pointer;
}
.btnheader:hover{
    background-color: #f59b00;
    color:#414141;
    border:solid 2px #414141;
    padding: 10px 20px 10px 20px;
}
.btnyellow{
    background-color: #f59b00;
    color:#fff;
    border: 0;
    padding: 10px 20px 10px 20px;
    cursor:pointer;
}
.btnyellow:hover{
    background-color: #f59b00;
    color:#414141;
    border: 0;
    padding: 10px 20px 10px 20px;
}
.btnsobre{
    margin-top: 50px;
    background-color: #f59b00;
    color:#a56208;
    border:solid 2px #a56208;
    padding: 10px 20px 10px 20px;
    cursor:pointer;
}
.btnsobre:hover{
    background-color: #f59b00;
    color:#414141;
    border:solid 2px #414141;
    padding: 10px 20px 10px 20px;
}
.btnyellowForm{
    background-color: #f59b00;
    color:#fff;
    border: 0;
    padding: 10px 20px 10px 20px;
    width: 100%;
    cursor:pointer;
}
.btnyellowForm:hover{
    background-color: #f59b00;
    color:#414141;
    border: 0;
    padding: 10px 20px 10px 20px;
}
.blockcontatotitle{
    color:#f59b00;
    font-size: 4em;
}
.formulario{
    padding: 60px 160px 40px 40px;
}
.formulario label{
 font-size: 0.8em;
 margin-bottom: -10px;
}
input[type="text"], input[type="email"], input[type="number"] {
    font-size: 0.8em;
    margin-bottom: -15px;
}
.menu-mobile, .nav-mobile{
	display: none;
}

.footer{
    background-color: #414141;
    color:#fff;
    text-align: center;
    font-size: 0.8em;
    padding:5px 20px;
    padding-top: 5px;
}
.bannerClientes{
margin-top:20px!important;
background-color: #f59b00;
color:#fff;
height: 500px;
}
.txtClientes{
    font-size: 5.5em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.imgClienteBannerLeft{
    height: 500px;
    background-size:auto 500px;
	background-image: url('../../assets/img/bannerClientesLeft.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color:#f59b00;
}
.imgClienteBannerRight{
    height: 500px;
    background-size:auto 500px;
	background-image: url('../../assets/img/bannerClientesRight.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color:#f59b00;
}
.imgClientes{
    max-width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.titleServicos{
    color:#fff;
    font-size: 3em;
    text-align: center;
    line-height: 1em;
    margin-top: 130px;
}
.titleServicosZendesk{
    color:#a56208;
    font-size: 12px;
}
.txtServicos1{
    color:#fff;
    font-size: 20px;
    line-height: 1em;
    margin-top: 30px;
}
.txtServicos2{
    font-size: 12px;
}
.bannerServicos{
    height: 400px;
}
.imgServicosBanner{
    height: 400px;
    background-size:auto 400px;
	background-image: url('../../assets/img/bannerServiços.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color:#f59b00;
}
.bannerServicoBlocoA{
    margin:0 auto;
    text-align: center;
}
.bannerServicoBlocoB{
margin-top: 20px;

}
.imgServicos{
    margin-top:20px;
}
.servicostxt{
    color:#00333a;
    font-size: 20px;
    line-height: 1em;
    margin-top: 20px;
    text-align: center;
}
.servicosTitle{
    color:#000;
    font-size: 40px;
    line-height: 0.6em;
    margin-top: 20px;
    text-align: center;
}
.servicosTitletxt{
    color:#7f7f7f;
    font-size: 18px;
    text-align: center;
    margin-top: -10px;
}
.linha{
    width: 90%;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
}
.green{
    border-top: 2px solid #78a300;
}
.orange{
    border-top: 2px solid #f69a3d;
}
.pink{
    border-top: 2px solid #eb4962;
}
.yellow{
    border-top: 2px solid #edc103;
}
.cyan{
    border-top: 2px solid #30aabc;
}
.salmon{
    border-top: 2px solid #eb6651;
}
.boxes{
    text-align: center;
    box-shadow: 5px 10px 28px #888888;
    padding: 30px 20px;
    margin:30px 10px;
}
.btnZendeskSuite{
    background-color:rgba(255, 255, 255, 0);
    color:#000;
    border:solid 2px #000;
    padding: 5px 30px 5px 30px;
    font-size: 0.8em;
    cursor:pointer;
}
.txtZendeskSuite{
    font-size: 0.8em;
}

/*CELULARES*/
@media screen and (max-width: 420px) {
    .nav-mobile{
        display: flex;
    }
	.menu{
		display: none;
    }
    a.icon {
        margin-top: 35px;
        margin-left: 100px;
        font-size: 20px;
    }
    a.nav-link.active {
        color: #f5a322!important;
    }
    .headertxt {
        margin-top: 30px;
        margin-bottom: 10px;
        color:#a56208;
        text-align: center;
        font-size: 1.3em;
    }
    .btnheader{
        margin-bottom:20px;
        margin-top: 20px;
        background-color: #f59b00;
        color:#a56208;
        border:solid 2px #a56208;
        padding: 10px 20px 10px 20px;
        font-size: 1.2em;
    }
    .imgheader{
        display:flex;
        margin-top: -75px;
    }

    .topmenu img{
        /*padding: 40px 40px 20px 60px;*/
        min-width: 200px;
    }
 
    .topmenu ul.nav {
        padding: 20px 20px 20px 20px;
        font-size: 1.0em;
        width: 100%;
        display: block;
        text-align: center;
    }
    .imageblockwhite{
        padding: 20px 20px 20px 20px;
    }
    .blockwhite{
        padding: 10px 20px 40px 0px;
    }
    .imageblockwhitepq{
        margin:5px 20px 0px 0px ;
    }
    .blockwhitetitle{
        color:#f59b00;
        font-size: 1.2em;;
    }
    .blockwhitetxt{
        padding-right: 10px;
        font-size: 0.8em;;
    }
    .formulario{
        padding: 20px 20px 20px 20px;
    }
    .imageblockorange{
        padding: 0px 0px 0px 10px;
        margin-bottom: -20px;
    }
    .blockorange{
        padding: 20px 20px 20px 20px;
    }
    .blockorangetitle{
        color:#a56208;
        font-size: 3em;
    }
    .blockorangetxt{
        padding-right: 0px;
        text-align: center;
        margin-top: -10px;
        font-size: 1.2em;
    }
    .btnsobre{
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: #f59b00;
        color:#a56208;
        border:solid 2px #a56208;
        padding: 10px 20px 10px 20px;
        text-align: center!important;
    }
    .trace{
        border-bottom: solid 5px #a56208;
        width: 200px;
        text-align: center!important;
        margin: auto;
        margin-bottom: 60px;
    }
    .buttonalign{
        text-align: center;
    }
    .blockcontatotitle{
        color:#f59b00;
        font-size: 3em;
        text-align: center!important;
    }
    .tracecontato{
        border-bottom: solid 5px #f59b00;
        width: 200px;
        text-align: left;
        text-align: center!important;
        margin: auto;
        margin-bottom: 60px;
    }
    .btnyellow{
        background-color: #f59b00;
        color:#fff;
        border: 0;
        padding: 10px 20px 10px 20px;
        font-size: 1.2em;
    }
    .btnsobre{
        margin-top: 50px;
        background-color: #f59b00;
        color:#a56208;
        border:solid 2px #a56208;
        padding: 10px 20px 10px 20px;
        font-size: 1.2em;
    }
    .bannerClientes{
        margin-top:20px!important;
        background-color: #f59b00;
        color:#fff;
        height: 500px;
        }
    .txtClientes{
        font-size: 2.8em;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .imgClienteBannerLeft{
        background-size:auto 250px;
        height: 250px;
        background-image: url('../../assets/img/bannerClientesLeft.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-color:#f59b00;
    }
    .imgClienteBannerRight{
        background-size:auto 250px;
        height: 250px;
        background-image: url('../../assets/img/bannerClientesRight.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-color:#f59b00;
    }
    .imgClientes{
        max-width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .titleServicos{
        color:#fff;
        font-size: 2em;
        text-align: center;
        line-height: 1em;
        margin-top: 50px;
    }
    .titleServicosZendesk{
        color:#a56208;
        font-size: 12px;
    }
    .txtServicos1{
        color:#fff;
        font-size: 20px;
        line-height: 1em;
        margin-top: 30px;
        margin-left: -20px;
    }
    .txtServicos2{
        font-size: 12px;
    }
    .bannerServicos{
        height: 600px;
    }
    .bannerServicoBlocoA{
        margin:0 auto;
        text-align: center;
    }
    .bannerServicoBlocoB{
    margin-top: 1px;
    }
    .imgServicos{
        text-align: center;
        margin-top:10px;
        margin-left: 20px;
    }
    .servicostxt{
        color:#00333a;
        font-size: 18px;
        line-height: 1.2em;
        margin-top: 20px;
        text-align: center;
    }
    .servicosTitle{
        color:#000;
        font-size: 40px;
        line-height: 1.0em;
        margin-top: 20px;
        text-align: center;
    }
    .servicosTitletxt{
        color:#7f7f7f;
        font-size: 18px;
        text-align: center;
        margin-top: -10px;
    }
}
/*TABLETS*/
@media screen and (min-width: 421px) and (max-width: 768px){
    .topmenu img{
        padding: 40px 40px 20px 40px;
        align-content: center;
    }
    /*.topmenu ul.nav {
        float: center;
        padding: 20px 20px 20px 20px;
        font-size: 0.8em;
    }*/
}
/* Desktop medios */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .topmenu img{
        padding: 40px 40px 20px 40px;
        align-content: center;
    }
    /*.topmenu ul.nav {
        float: center;
        padding: 20px 20px 20px 20px;
        font-size: 0.8em;
    }*/
}

/* Desktop grande */
@media screen and (min-width: 993px) {
    a.nav-link.active {
        color: #f5a322!important;
    }
    .topmenu ul.nav {
        margin: 40px 10px;
        float: right;
    }
}
